<header class="page-header">
<h1>Admin Dashboard</h1>
</header>
<div class="container-dashboard">
<button class="button-dashboard">Number of Products: <%= @productCount %></button>
<button class="button-dashboard">Number of Categories: <%= @categoryCount %></button>
</div>
