<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>
<div class="container-dashboard">
  <button class="button-dashboard">Number of Products: <%= @productCount %><br/>
    <%=link_to "View All Products", "/admin/products", style: 'color:#FFFFFF;' %>
  </button>
  <button class="button-dashboard">Number of Categories: <%= @categoryCount %><br/>
    <%=link_to "View All Categories", "admin/categories", style: 'color:#FFFFFF;' %><br/>
  </button>
</div>
