<header class="page-header">
  <h1>About Us</h1>
</header>
<body>
  <h3>Here in the Jungle, we're wild about plants!</h3>
  <p>We began as small collective of plant-lovers back in 1999. Since then, we've kept on growing!</p>
  <h3>Meet the Team</h3>
  <p>Introducing our dynamic team of plant experts.</p>
  <h4>Blossom Patel, President</h4>
  <p>Blossom was been interested in gardening from a very young age. She finds that she is most at peace when she is surrounded by nature. She is so proud to have been able to turn her passion into her own business. On the weekend, Blossom loves to go hiking with her husband and children.</p>
  <h4>Herb Jang, Vice President</h4>
  <p>Herb has been with the Jungle since the very beginning. He is known for his positive attitude and strong work ethic. When he isn't gardening, he loves playing baseball with his son.</p>
  <h4>Dahlia Johnson, General Manager</h4>
  <p>Dahlia is a people person who is passionate about helping others. She is always there to lend a hand to whoever needs it. In her spare time, she practices yoga with her boyfriend.</p>
  <h4>Basil Schneider, Administrative Assistant</h4>
  <p>In addition to being a diligent worker, Basil is one of the friendliest people you'll ever meet! He loves to bake sweets and share them with everyone in the office. After work, he loves to watch cartoons with his grandchildren.</p>
</body>